<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.AlertSelectionMapper" >
  <resultMap id="BaseResultMap" type="model.AlertSelection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="alertName" property="alertname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, alertName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alertselection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alertselection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.AlertSelection" >
    insert into alertselection (id, alertName)
    values (#{id,jdbcType=INTEGER}, #{alertname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.AlertSelection" >
    insert into alertselection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="alertname != null" >
        alertName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="alertname != null" >
        #{alertname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.AlertSelection" >
    update alertselection
    <set >
      <if test="alertname != null" >
        alertName = #{alertname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.AlertSelection" >
    update alertselection
    set alertName = #{alertname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>