<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.WarningConfigMapper" >
  <resultMap id="BaseResultMap" type="model.WarningConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="alertName" property="alertname" jdbcType="INTEGER" />
    <result column="safeMin" property="safemin" jdbcType="INTEGER" />
    <result column="safeMax" property="safemax" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, alertName, safeMin, safeMax, userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from warningconfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from warningconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.WarningConfig" >
    insert into warningconfig (id, alertName, safeMin, 
      safeMax, userId)
    values (#{id,jdbcType=INTEGER}, #{alertname,jdbcType=INTEGER}, #{safemin,jdbcType=INTEGER}, 
      #{safemax,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.WarningConfig" >
    insert into warningconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="alertname != null" >
        alertName,
      </if>
      <if test="safemin != null" >
        safeMin,
      </if>
      <if test="safemax != null" >
        safeMax,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="alertname != null" >
        #{alertname,jdbcType=INTEGER},
      </if>
      <if test="safemin != null" >
        #{safemin,jdbcType=INTEGER},
      </if>
      <if test="safemax != null" >
        #{safemax,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.WarningConfig" >
    update warningconfig
    <set >
      <if test="alertname != null" >
        alertName = #{alertname,jdbcType=INTEGER},
      </if>
      <if test="safemin != null" >
        safeMin = #{safemin,jdbcType=INTEGER},
      </if>
      <if test="safemax != null" >
        safeMax = #{safemax,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.WarningConfig" >
    update warningconfig
    set alertName = #{alertname,jdbcType=INTEGER},
      safeMin = #{safemin,jdbcType=INTEGER},
      safeMax = #{safemax,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>